header {
    background-color: var(--surface-color);
    height: 60px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo-container {
    flex: 1; /* Pushes the nav to the right */
}

.logo-container a {
    text-decoration: none;
    color: var(--neutral-color);
    font-size: 1.5rem;
    font-family: var(--lobster-font);
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px; /* Adds spacing between links */
}

.nav-link a {
    color: var(--neutral-color);
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1% 2%;
}

.nav-link a:hover {
    border-bottom: 2px solid white;
}

/* Hamburger menu styling */
.nav-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px auto;
}

.nav-check, .nav-btn {
    display: none;
}

.logo-container a h2 {
    color: white;
}

.center-header-sections {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
}